@*<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" ui-sref="home">
            <div class="logo-img">
                <img src="../../../Assets/admin/src/img/brand-white.svg" class="header-brand-img" alt="lavalite">
            </div>
            <span class="text">Admin</span>
        </a>
        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
    </div>

    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Phần quản trị</div>
                <div class="nav-item has-sub">
                    <a href="javascript:void(0)"><i class="ik ik-layers"></i><span>Quản lý</span></a>
                    <div class="submenu-content">
                        <a ui-sref="apartments" class="menu-item">Căn hộ</a>
                        <a ui-sref="employees" class="menu-item">Nhân viên</a>
                        <a ui-sref="home" class="menu-item">Test</a>
                        <a ui-sref="sider_bar" class="menu-item">Test menu</a>
                    </div>
                </div>
                <div class="nav-lavel">Phần hệ thống</div>
                <div class="nav-item has-sub">
                    <a href="javascript:void(0)"><i class="ik ik-layers"></i><span>Phân quyền</span></a>
                    <div class="submenu-content">
                        <a ui-sref="application_groups" class="menu-item">Nhóm</a>
                        <a ui-sref="application_roles" class="menu-item">Quyền</a>
                        <a ui-sref="application_users" class="menu-item">Người dùng</a>
                        <a ui-sref="application_modules" class="menu-item">Module</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>*@
